<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924416786960-am84ubu20jnfphr6olpr2q4g4qi88ehm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924416786960-am84ubu20jnfphr6olpr2q4g4qi88ehm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>924416786960-o5vckkvravcl61tpiln2ic8th7uejpv7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl68kngghp68Q2BG3r0ITt_tNtV3qXlWA</string>
	<key>GCM_SENDER_ID</key>
	<string>924416786960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michiganhackers.photoassassin</string>
	<key>PROJECT_ID</key>
	<string>photo-assassin</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-assassin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924416786960:ios:3e58388bee3559be</string>
	<key>DATABASE_URL</key>
	<string>https://photo-assassin.firebaseio.com</string>
</dict>
</plist>